
.App {
  text-align: center;
}

Nav{
  display: flex;
  justify-content: space-around;
  min-height: 10em;
  background: rgb(20, 20, 20, 0.5);
  color: white;
}


.logoImage{
  height: 100px;
  float:left;
  margin-top: 30px;
  
}

.logo{
  font-size:36px;
  float:right;
  margin-top: 35px;
  
}

.nav-Links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 800px;

}
.text-link{
  text-decoration:none;
  color:white;
}

.AppContainer{
  background-image:url('https://www.solarsystemscope.com/textures/download/2k_stars.jpg');
  color:white;
  font-family: 'Rambla', sans-serif;
}

.homeHeader{
  font-size: 48px;
}

.homeSubhead{
  font-size: 20px;
}

.formContainer{
  padding: 1.5em;
}

.form{
  border-radius: 25px;
  background-color: rgb(0, 40, 105, 0.5);
  display:flex;
  justify-content: center;
  display: inline-block;
	text-align: center;
  width: 1100px;
  padding-bottom: 1.5em;
}

.formHeadline{
 color:rgb(255, 255, 255)
}

.formFilter{
  font-size: larger;
  justify-content: left;
  opacity: 100%;
}

.select{
  font-size: medium;
}

label{
  display: inline-block;
  width: 500px;
  text-align: left; /*Change to right here if you want it close to the inputs*/
}

.filterButton{
  font-size:large;
  margin: 2em;
  background-color:#141414;
  color: white;
  border-radius: 12px;
}

.destContainer{
  justify-content: center;
  display:flex;
  flex-wrap: wrap;
}

.destinationCard{
  padding: 1em;
  width:auto
}

.destination{
  border-radius: 25px;
  color: white;
  display:flex;
  flex-direction:column;
  padding: 1em;
  background-color:rgb(0, 40, 105, 0.5);
  background-blend-mode: soft-light;
}

.destImage{
  float: left;
  height: 450px;
  width: 450px;
  background-size: cover;
  padding: 20px;
}

.destButton{
  border-radius: 12px;
  color:white;
  background-color:rgb(20, 20, 20, 0.5);
  height: 3em;
  width:16em;
  align-self: center;
  font-size: large;
  font-weight: bolder;
}

.addedDestContainer{
  justify-content: center;
  display:flex;
  flex-wrap: wrap;
}

.addedDest{
  border-radius: 25px;
  color: white;
  display:flex;
  flex-direction:column;
  padding: 1em;
  background-color:rgb(0, 40, 105, 0.5);
}

.deleteButton{
  border-radius: 12px;
  color:white;
  background-color:#0878ac;
  height: 3em;
  width:16em;
  align-self: center;
  font-size: large;
  font-weight: bolder;
}



.itinerary{
  text-align: center;
}

.about{
  text-align: center;
}

.home{
  text-align: center;
}

.map{
  text-align: center;
}

.mapHeader{
  font-size: 48px;
}

.mapSubheard{
  font-size: 20px;
}

.mapImage{
  border-radius: 12px;
  opacity: 65%;
}


.about{
  font-size: large;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
}

.timeline-container::after {
  background-color: #0878ac;
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timeline-item-content {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #002869;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  position: relative;
  width: 400px;
  max-width: 70%;
  text-align: right;
}

.timeline-item-content::after {
  content: ' ';
  background-color: #0878ac;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
  left: auto;
  right: 5px;
}

.timeline-item-content time {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.timeline-item-content p {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 400px;
}

.timeline-item-content .circle {
  background-color: #fff;
  border: 3px solid #0878ac;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
}