
.App {
  text-align: center;
}

Nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #000326;
  color: white;
}

.nav-Links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;

}
.text-link{
  text-decoration:none;
  color:white;
}

.AppContainer{
  background-image:url('https://www.solarsystemscope.com/textures/download/2k_stars.jpg');
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin:auto;
  color: white;
  height: 100%;
  width: 100%;
  font-family: 'Odibee Sans', cursive;
  font-size: 24px;
}

.destContainer{
  justify-content: center;
  display:flex;
  flex-wrap: wrap;
}

.destinationCard{
  padding: 1em;
  width:auto
}

.destination{
  border-radius: 25px;
  color: white;
  display:flex;
  flex-direction:column;
  padding: 1em;
  background-color:#000326;
  background-blend-mode: soft-light;
}

.addedDestContainer{
  display:flex;
  flex-wrap: wrap;
}

.addedDest{
  color: white;
  display:flex;
  flex-direction:column;
  padding: 1em;
}

.destImage{
  float: left;
  height: 450px;
  width: 450px;
  background-size: cover;
  padding: 20px;
}

.destButton{
  border-radius: 12px;
  color:white;
  background-color:#0878ac;
  height: 3em;
  width:16em;
  align-self: center;
  font-size: large;
  font-weight: bolder;
}

.addedDestImage{
  height: 200px;
}

.logo{
  height: 125px;
}

.itinerary{
  text-align: center;
}

.about{
  text-align: center;
}

.home{
  text-align: center;
}

.map{
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}


