
.App {
  text-align: center;
}

Nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #000326;
  color: white;
}

.nav-Links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;

}
.text-link{
  text-decoration:none;
  color:white;
}

.AppContainer{
  background-image:url('https://www.solarsystemscope.com/textures/download/2k_stars.jpg');
  color:white;
  font-family: 'Rambla', sans-serif;
}

.formContainer{
  padding: 1.5em;
  background-color:#000326;
}


.filterButton{
  font-size:large;
  margin: 2em;
  background-color:#0878ac;
  color: white;
  border-radius: 12px;
}

.destContainer{
  justify-content: center;
  display:flex;
  flex-wrap: wrap;
}

.destinationCard{
  padding: 1em;
  width:auto
}

.destination{
  border-radius: 25px;
  color: white;
  display:flex;
  flex-direction:column;
  padding: 1em;
  background-color:#000326;
  background-blend-mode: soft-light;
}

.destImage{
  float: left;
  height: 450px;
  width: 450px;
  background-size: cover;
  padding: 20px;
}

.destButton{
  border-radius: 12px;
  color:white;
  background-color:#0878ac;
  height: 3em;
  width:16em;
  align-self: center;
  font-size: large;
  font-weight: bolder;
}

.addedDestContainer{
  justify-content: center;
  display:flex;
  flex-wrap: wrap;
}

.addedDest{
  border-radius: 25px;
  color: white;
  display:flex;
  flex-direction:column;
  padding: 1em;
  background-color:#000326;
  background-blend-mode: soft-light;
}

.deleteButton{
  border-radius: 12px;
  color:white;
  background-color:#0878ac;
  height: 3em;
  width:16em;
  align-self: center;
  font-size: large;
  font-weight: bolder;
}

.logo{
  height: 125px;
}

.itinerary{
  text-align: center;
}

.about{
  text-align: center;
}

.home{
  text-align: center;
}

.map{
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

form {
  width: 80%;
  margin: 0 auto;
}

label,
input {
  /* In order to define widths */
  display: inline-block;
}

label {
  width: 30%;
  /* Positions the label text beside the input */
  text-align: center;
}

label+input {
  width: 30%;
  /* Large margin-right to force the next element to the new-line
           and margin-left to create a gutter between the label and input */
  margin: 0 30% 0 4%;
}


/* Only the submit button is matched by this selector,
       but to be sure you could use an id or class for that button */

input+input {
  float: center;
}
